In [4]:
company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

print("NAMA : SAVINA NURAINI")
print("NIM : 221011403180")

In [10]:
def sort_company():
    company_names = [company['name'] for company in company_name_list]

    sorted_company_names = sorted(company_names)

    print("Daftar Perusahaan yang Telah Diurutkan:")
    for company_name in sorted_company_names:
        print(company_name)

sort_company();

Daftar Perusahaan yang Telah Diurutkan:
Company 1
Company 2
Company 3

In [6]:
def get_company_domain(company_name):
    company_detail = company_detail_list.get(company_name)
    if company_detail:
        return company_detail['domain']
    else:
        return "Perusahaan tidak ditemukan."

company_name = input("Masukan nama company : ")
company_domain = get_company_domain(company_name)
print("Domain dari", company_name, "adalah:", company_domain)

Masukan nama company :  Company 2

Domain dari Company 2 adalah: Construction

In [14]:
def get_employees():
    result = []

    for employee_name, employee_detail in employee_detail_list.items():
        full_name = employee_detail['full_name']
        company_name = employee_detail['company']

        company_domain = company_detail_list[company_name]['domain']

        result.append({
            "full_name": full_name,
            "company": company_name,
            "domain": company_domain
        })

    return result

get_employees()

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'},
 {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 2',
  'domain': 'Construction'}]

In [12]:
def get_employees_by_company():
    result = []

    for company_info in company_name_list:
        company_name = company_info['name']
        employees = []

        for employee_name, employee_detail in employee_detail_list.items():
            if employee_detail['company'] == company_name:
                employees.append(employee_name)

        result.append({
            "company": company_name,
            "employees": employees
        })

    return result

get_employees_by_company()

[{'company': 'Company 1', 'employees': ['John Doe']},
 {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']},
 {'company': 'Company 3', 'employees': []}]